{% extends "html/layout.html"%}

{% block title%} DMT Blog | Contact {% endblock %}


{% block body %}

    <body>
        <!--This is contact info. secton-->

        <h2>Contact Information</h2>
        <p><strong>Name:</strong> {{ contact_info.name }}</p>
        <p><strong>Email:</strong> {{ contact_info.email }}</p>
        <p><strong>Phone:</strong> {{ contact_info.phone }}</p>
        <p><strong>Address:</strong> {{ contact_info.address }}</p>
        
        <hr>

        <!--Feedback-->
        <h2>Leave Feedback</h2>
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ feedback_form.as_p }}
            <button disabled type="submit">Submit Feedback</button>
        </form>


        <br>
        <a href = "{% url 'main_page'%}" ><button id = "back-button">>>Back</button></a>
    </body>

{% endblock %}
