{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="Description" content="First Blog website.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta http-equiv = "refresh" content="30">
        <title>DMT Blog</title>
        
        <link rel="stylesheet" href= "{% static 'css/mainpage_style.css' %}">

        

    </head>

    <body>
        
        <div class="container">
            <div class = "grid-container head" > <strong> Welcome to DMT Blog!  </strong> <br>
                 <p id = "subtitle"> Where our story begun! </p> </div>
                 
            <div class = "grid-container content"> Content
                <ul>
                    {% for article in articles %}
                        <li id  = "article-title">
                            <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                            by <a href="{% url 'author_detail' article.author.id %}">{{ article.author.last_name}}, {{article.author.given_name}}</a>

                            <p id = "text-content">{{article.content}}</p>
                        </li>
                       
                    {% endfor %}
                </ul>
                
            </div>
            
            <div class = "grid-container navigation"> <b>Navigation</b>
                <ul>
                    <a href="{% url 'main_page' %}"><li>Home</li></a>
                    <a href="{% url 'about_page' %}"><li>About</li> </a>
                    <a href="{% url 'contact_page' %}"><li>Contact me</li> </a>
                </ul>
            
            </div>
            
            <div class = "grid-container foot"> Footer
                <p id= "footer-note" >This is done by Deniel Moises for practicing his skill in making website.</p>
            </div>   
                     
        </div>
        
        
        
        
    </body>
    
    
</html>










<!--
<h1>Articles</h1>
<ul>
    {% for article in articles %}
        <li>
            <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
            by <a href="{% url 'author_detail' article.author.id %}">{{ article.author.last_name}}, {{article.author.given_name}}</a>
        </li>
    {% endfor %}
</ul>

-->