/*This is the css file for main_page.html
Important: The static folder can be under the project folder or become app specific (recommended)

*/


body {
    background-color: black;
    padding: 5px;
    font-size: 16px;
    font-family: "Helvetica", "Arial", "Georgia", "Tahoma", "Roboto";
    color: white; 
}

.col {
    border: 2px dotted black;
    padding: 10px;
    margin: 10px;
}

.header {
    color: rgb(247, 130, 130);
    
}

#title {
    margin-bottom: 5px;
    margin-top: 15px;

    text-align: center;

}

#writer {
    margin-bottom: 3px;

    text-align: center;
}

.main-content {
    background-color: rgb(39, 38, 38);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;

    padding: 20px;

}
#content {
    text-align: justify;

}

.footer {
    background-color:  rgb(22, 22, 22);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 5px;

    font-style: italic;

}

